.Header{
    height: 10vh;
    background-color: rgb(31, 142, 250);
}

.header-contain{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header-contain__1{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.select-city{
    background-color: rgb(31, 142, 250);
}
.select-city__icon{
    padding-right: 10px;
    width: 10px;
}
.select-city__cities{
    -webkit-appearance: none;
    color: white;
    font-size: 12px;
    font-family: Montserrat,Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    background-color: rgb(31, 142, 250);
}
.header-contain__2{
    width:40%;
    display: flex;
    justify-content: space-between;
}

.Header__link{
    text-decoration: none;
}

.main-link{
    color: white;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        transform:  scaleX(1);
        visibility: visible;
    }
}

.login{
    font-size: 12px;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: 700;
    background-color: rgb(31, 142, 250);
    border-radius:20px;
    border: 1px solid white;
    color: #fff;
    height: 35px;
    width: 120px;
    outline: none;
}


