.Header{
    height: 10vh;
    background-color: rgb(31, 142, 250);
}

.header-contain{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.header-contain__1{
    width: 20%;
    display: flex;
    justify-content: space-between;
    /*margin: 30px;*/
}
.select-city{
    background-color: rgb(31, 142, 250);
}
.select-city__icon{
    width: 20px;
}
.select-city__cities{
    -webkit-appearance: none;
    color: white;
    font-size: 20px;
    border: none;
    background-color: rgb(31, 142, 250);
}
.header-contain__2{
    width:40%;
    display: flex;
    justify-content: space-between;
}
.main-links{
    color: white;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size: 17.8px;
}

.main-links:hover{
    text-decoration: underline;
    transform:  scaleX(1);
}
.button{
    font-family: Montserrat,Helvetica,sans-serif;
    background-color: rgb(31, 142, 250);
    border-radius:20px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    height: 45px;
    width: 150px;
    margin-top: -15px;
}
