.LoginLayout{
  position: relative;
  background-color: #fafbfd;
  min-height: 100vh;
}

.auth--top__block{

  .auth-background{
    margin-left: 200px;
    width: 75%;
  }
  .auth-img{
    z-index: 1;
    position: absolute;
    top: 170px;
    left: 750px;
    width: 90px;
  }
  .auth--title{
    position: absolute;
    top:70px;
    left: 750px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
  }
}
.pages--fix__content{
  width: 100%;
  height: 100%;

}
.form--inline-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  .to_reg{
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #6b7c93;
  }
  .to_reg a{
    color: #fb4438;
    text-decoration: none;
  }
}
.form--item{
  align-items: center;
  padding: 10px;
  .vue-tel-input{
    width: 488px;
    height: 37px;
    border: 1px solid #bbb;
    border-radius: 3px;
    display: flex;
    .button{
      width: 100%;
      color: #ffffff;
      border: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      transition: box-shadow 0.3s;
    }
    .btn-login{
      background-color: #1f8efa;
      &:hover{
        box-shadow:0 0 15px rgba(154, 147, 140, 0.5);
      }
    }
    .btn-forget{
      background-color: #fb4438;
      &:hover{
        box-shadow:0 0 15px rgba(154, 147, 140, 0.5);
      }
    }
  }
}
.form--input{
  margin-left: 5px;
  border: none;
  width: 200px;
}
.form--input--pass{
  border: none;
  width: 100%;
}
.footer__copyright-text{
  margin-top: 50px;
  font-size: 9px;
  line-height: 12px;
  color: #919bab;
  text-align: center;
}
