.mainpage--title{
  text-align: center;
  margin-bottom: 15px;
  padding: 40px 15px;
  font-weight: 700;
  font-size: 24px;
  color: #001b36;
}
.article--card{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 30px auto;
}