.Home{
    
}

.home--header{
    display: flex;
    min-height: 100vh;
    background-color: #fff;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/mainpage_bg.png');
    align-items: center;
    -webkit-box-align:center;
}

.home--header__content{
    box-sizing: border-box;
    padding:20px 80px;
    width:75%;
}

.home--header__form{
    display: block;
    padding:0px 0px 25px;
    
    .input-btn{
        display: flex;
        align-items: stretch;
    
        input{
            display: block;
            width:65%;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            padding:10px;
            border:1px solid #c3cdd8;
            outline: none;
            height: 40px;
        }

        .btn{
            width:120px;
            color:#fff;
            background:#1f8efa;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border:none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            box-sizing: border-box;
            position: relative;
            padding:5px 20px;
        }

        .search-icon{
            color:#fff;
            width: 15.97px;
            height: 15px;
            padding:0px 10px 0px 0px;
        }
    }
}

.home--header__title{
    font-size:40px;
    font-weight: 700;
    font-family: Montserrat,Helvetica,sans-serif;
    color:#1f8efa;
    text-transform: uppercase;
    margin:0px 0px 35px;
    // width: 70%;
}

.home--header__content-info_row{
    color:#001b36;
    font-size:18px;
    font-family: Montserrat,Helvetica,sans-serif;
    padding:0px 0px 25px;

    .home--header__content-icon{
        width:25px;
        height: 25px;
        padding:0px 10px 0px 0px;
    }

    b{
        font-size:30px;
        font-family:Montserrat,Helvetica,sans-serif; 
        margin:0px 10px 0px 0px;
    }


}

.home--header__content-info_footer{
    color:#001b36;
    font-size:24px;
    font-family: Montserrat,Helvetica,sans-serif;
    margin:0px 0px 25px;
    font-weight: 500;
}


.home--cards{
    width:100%;
    color:#fff;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size:21px;
    font-weight: 500;
}

.container{
    margin:0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding:0;
    z-index: 1;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index:1;
    display: flex;
    box-sizing: content-box;
}

.home--cards__item{
    padding:40px 25px;
    width:360px;
    height: 145px;
}

.home--cards__item:first-child{
    background-color: #76b9f9;
}

.home--cards__item:nth-child(2){
    background-color: #1f8efa;
}

.home--cards__item:nth-child(3){
    background-color: #0363bf;
}

.home--cards__item:nth-child(4){
    background-color: #001b36;
}



.text-center{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:178px;
    height: 100px;


    img{
        width:40px;
        height: 40px;
    }
}
