.profile {
  display: block;
  .profile-header {
    padding-left: 170px;
  }

  .profile-body {
    width: 50%;
    height: 85vh;
    margin:50px 170px;
    box-shadow: 0 2px 20px rgba(43,46,56,.2);
    border-radius: 10px;
    display: block;
    .profile-body__item{
      margin: 24px 32px;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;
      &:last-child{
        border-bottom: none;
      }
      .profile-body__item__input {
        width: 350px;
        height: 30px;
        border-radius: 9px;
        border: 1px solid grey;
        margin: 16px 0 20px 196px;
      }
      .profile-body__item__input--phone{
        margin: 16px 50px 20px 146px;
      }
    }
    .profile-btn{
      border-radius: 9px;
      background: #1f8efa;
      border: 1px solid #1f8efa;
      color: white;
      height: 35px;
      margin-left: 122px;
      width: 50%;
      font-weight: bold;
    }
    .profile-btn--phone{
      margin-left: 20px;
    }
  }
}